{% extends 'base.html' %}

{% block title %}
    <title>{{ medication.name.capitalize }}</title>
{% endblock %}



{% block content %}
<div class="grid-container">
    <div>
        <h1>{{ medication.name }}</h1>
        <p>Days Remaining: {{ medication.day_supply }}</p>
        <p>Refills Remaining: {{ medication.refills }}</p>
        <a href="{% url 'patient_detail' medication.patient.id %}">
            <p>Patient: {{ medication.patient }}</p>
        </a>
        <a href="{% url 'medication_update' medication.id %}" class="hollow button warning">Update Medication</a>
        <a href="{% url 'medication_delete' medication.id %}" class="hollow button alert">Delete Medication</a>
    </div>
    <div>
        <h4 class="subheader">Dosing Information</h4>
        {% for dose in medication.dose_set.all %}
            <p class="cell">{{ dose.amount }} {{ medication.unit }} at {{ dose.time_of_administration }}</p>
            <a href="{% url 'dose_delete' medication.id dose.id %}" class="button alert tiny">Delete Dose</a>
        {% endfor %}

        <div class="grid-container">
            <form action="{% url 'dose_create' medication.id %}" method="POST">
                {% csrf_token %}
                {{ dose_form }}
                <input type="submit" value="Add Dose" class="button primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}