{% extends 'base.html' %}

{% block title %}
    <title>{{ medication.name.capitalize }}</title>
{% endblock %}



{% block content %}
    <div>
        <h1>{{ medication.name.capitalize }}</h1>
        <p>{{ medication.day_supply }}</p>
        <p>Belongs to: {{ medication.patient }}</p>
        <a href="{% url 'medication_update' medication.id %}">Update Medication</a>
        <a href=""></a>
    </div>
    <div>
        {% for dose in medication.dose_set.all %}
            <p>{{ dose.amount }} {{ dose.unit }}</p>
        {% endfor %}
        <form action="{% url 'dose_create' medication.id %}" method="POST">
            {% csrf_token %}
            {{ dose_form }}
            <input type="submit" value="Add Dose">
        </form>
    </div>
{% endblock %}