{% extends 'base.html' %}

{% block title %}
    {% if object %}
        <title>Update Medication</title>
    {% else %}
    <title>Add a Medication</title>
    {% endif %}
{% endblock %}

{% block content %}
<div class="grid-container">
    {% if object %}
    <h1 class="subheader">Update {{ object.name.capitalize }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" class="button primary">
    </form>
    {% else %}
        <h1 class="subheader">Add a Medication</h1>
    <form method="POST">
        {% csrf_token %}
        {{ med_form }}
            <h4 class="subheader">Add Dosing Information</h4>
            <div class="grid-container small">
                {{ dose_form }}
            </div>
            <input type="submit" value="Submit" class="button primary">
        </form>
        {% endif %}
</div>
{% endblock %}