<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Medication Tracker</title>
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'patient_list' %}">Patients</a>
            </li>
            <li>
                <a href="{% url 'patient_create' %}">Add a Patient</a>
            </li>
            <li>
                <a href="{% url 'medication_create' %}">Add a Medication</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'signup' %}">Signup</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>