{% extends 'base.html' %}

{% block title %}
    <title>Patients</title>
{% endblock %}


{% block content %}


<h1 class="subheader">Patients</h1>
    <div class="row align-center grid-container">
    {% for patient in patients %}
            <div class="card columns align-justify">
                <a href="{% url 'patient_detail' patient.id %}">
                    <div class="card-divider">
                        <h3>{{ patient.name.capitalize }}</h3>
                    </div>
                    <div class="card-section">
                        <p>{{ patient.species }}</p>
                        <p>{{ patient.dob }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

{% endblock %}