{% extends 'base.html' %}

{% block title %}
<title>Patient</title>
{% endblock %}


{% block content %}

<div class="grid-container">
    <div class="columns-6">
        <h2>{{ patient.name.capitalize }}</h2>

        <p class="subheader">{{ patient.species }}</p>
        <p class="subheader">{{ patient.dob }}</p>
        <a href="{% url 'patient_update' patient.id %}" class="hollow button warning">Update Patient</a>
        <a href="{% url 'patient_delete' patient.id %}" class="hollow button alert">Delete Patient</a>
    </div>

    <div class="columns-6">
        <h3 class="subheader">Medications</h3>
        {% for medication in patient.medication_set.all %}
        <div class="card">
            <a href="{% url 'medication_detail' medication.id %}">
                <div class="card-divider">
                    <h5>{{ medication.name.capitalize }}</h5>
                </div>
                {% for dose in medication.dose_set.all %}
                <p>{{ dose.amount }} {{ dose.unit }} at {{ dose.time_of_adminstration }}</p>
                {% endfor %}
            </a>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'medication_create' %}" class="hollow button secondary small">Add a Medication</a>
</div>


{% endblock %}