{% extends 'base.html' %}

{% block title %}
    <title>Patient</title>
{% endblock %}


{% block content %}

    <h1>Patient</h1>

            <div>
                <h3>{{ patient.name }}</h3>
                <p>{{ patient.species }}</p>
                <p>{{ patient.dob }}</p>
            </div>

            <div>
                <h1>Medications</h1>
                {% for medication in patient.medication_set.all %}
                    <p>{{ medication.name }}</p>
                {% endfor %}
            </div>

{% endblock %}